@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');  
/*****************Variables*****************/
:root {   
    --fuente: 'Roboto', sans-serif;   
    --color-principal: #1DBEB4;   
    --color-2: #383B58;   
    --color-3: #545776;   
    --color-4: #F3F1ED; 
    --color-5: #FFFFFF;
}
/*****************Seteo de valores generales*****************/
* {
   box-sizing: border-box;   
   font-family: var(--fuente);
   margin: 0; 
   padding: 0;   
}  
li {   
    list-style: none; 
}  
a {
   text-decoration: none; 
}
/*****************Bloque categorias*****************/
/*______Todo el bloque______*/
.bloqueCategorias{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2vh 2vw;
}

/*______Contenedor/tarjeta______*/
.listadoTarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

/*****************Responsive*****************/
/*______Tablet______*/
@media screen and (max-width:768px) {
    .bloqueCategorias {
        padding: 4vh 4vw;
    } 
}

/*______Mobile______*/
@media screen and (max-width:480px) {
    .bloqueCategorias {
        padding: 2vh 4vw;
    } 
}