/*****************Bloque categorias*****************/
/*______Todo el bloque______*/
.bloqueCategorias{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 261.89px;
}

/*______Contenedor/tarjeta______*/
.listadoTarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
/*______Error fetch______*/
.sinResultados {
    text-align: center;
    padding: 12vh 0;
    margin-top: -10vh;    ;
    width: 100%;
    color: var(--color-3);
  }


/*****************Responsive*****************/
/*______Mobile______*/
@media screen and (max-width:480px) {
    .bloqueCategorias {
        margin-top: 380px;
    } 
}