/*****************Tarjetas categoria*****************/
/*______Tarjeta entera______*/
.tarjeta {
    background-color: var(--color-5);
    background-position: top;
    border: 1px solid var(--color-4);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    height: 15.4rem;
    margin: 1% auto;
    position: relative;
    transition: transform 0.5s;   
    width: 19.3rem; 
}
/*______Efecto tarjeta______*/
.tarjeta:hover{
    box-shadow: 4px 8px 12px rgb(0 0 0 / 25%);
    transform: scale(1.05);
}
/*______Fondo tarjeta (portada)______*/
.fotoPortada {
    border-radius: 8px 8px 0 0;
    height: 11.45em;
    left: 0;
    position: absolute;
    top: 0;  
    width: 19.3em;
}
/*______Contenedor/escrito______*/
.contenidoTarjeta {
    color: var(--color-2);
    position: relative;
    top: 79%;
}
/*______Nombre categoria______*/
.contenidoTarjeta h2{ /*.Hotel, .Hostel, .Departamento, .BedAndBreakfast */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.438rem;
    margin-left: 3.87%;
    text-transform: capitalize;
}
/*______Descripcion categoria______*/
.contenidoTarjeta p{   /*.descripcion*/
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    margin-left: 3.87%;
    opacity: 0.6;
}

/*****************Responsive*****************/
/*______Tablet______*/
@media screen and (max-width:768px) {
    .tarjeta {
        height: 15.25rem;
        width: 21.7rem; 
    }
    .fotoPortada {
        height: 11.45em; 
        width: 21.7em;
    }
}

/*______Mobile______*/
@media screen and (max-width:480px) {
    .tarjeta {
        height: 17.25rem;
        width: 90vw; 
    }
    .fotoPortada {
        height: 12.45em; 
        width: 90vw; 
    }
}