.logoImg {
    width: 62px;
    height: 62px;
}

.headerFijo{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 2px 2px 6px var(--color-3);
}

.contenedorHeader {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--color-5);
    padding: 14.90px 50px;
}

.headerIzquierda{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
}

.headerIzquierda a{
    display: flex;
    align-items: flex-end;
}

.headerIzquierda p{
    color: var(--color-2);
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;
}
.headerIzquierda h1 {
    font-weight: 700;
    color: var(--color-2)
}
.headerIzquierda h1 span{
    color: var(--color-principal)
}
.headerDerecha{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
}

.menuHamburguesa{
    display: none;
} 

@media screen and (max-width:860px) {

    .contenedorHeader {
        padding: 25px 30px;
    }

    .headerIzquierda p, .headerIzquierda h1 {
        display: none;
    }

}

@media screen and (max-width:480px) {

    .headerFijo{
        box-shadow: 2px 2px 6px var(--color-2);
    }

    .contenedorHeader{
        align-items: center;
        padding: 10px 30px;
    }

    .headerDerecha{
        display: none;
    }

    .menuHamburguesa{
        display: block;
    }


}