.contenedorProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.avatar {
  background-color: var(--color-2);
  color: var(--color-5);
  border-radius: 50%;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 7px;
}

.saludo {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 700;
  padding-top: 12px;
}

.nombre {
  color: var(--color-principal);
  font-size: 1rem;
  font-weight: 700;
}

.desplegarDropdown {
  position: absolute;
  bottom: 34px;
  left: 180px;
}

.desplegarDropdown:hover {
  cursor: pointer;
}

.containerDropdown {
  position: relative;
  display: inline-block;
  top: 46px;
  right: 180px;
}

.dropdown {
  position: absolute;
  box-shadow: 4px 4px 6px .5px rgba(0, 0, 0, 0.35);
}

.dropdown:last-child {
  border-bottom: none;
}

.itemDropdown {
  display: block;
  color: var(--color-2);
  background-color: var(--color-5);
  min-width: 210px;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 12px 16px;
  z-index: 1;
  transition: all 200ms ease-in;
  border-radius: 1px;
}

.itemDropdown:hover {
  cursor: pointer;
  color: var(--color-5);
  background-color: var(--color-principal);
}

.cerrarSesion {
  padding-right: 6px;
}

@media screen and (max-width: 480px) {
  .contenedorProfile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .contenedorNombre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .avatar {
    background-color: var(--color-5);
    color: var(--color-3);
  }

  .saludo {
    color: var(--color-5);
  }

  .nombre {
    color: var(--color-2);
  }

  .desplegarDropdown {
    display: none;
  }
}
