.alojamientos {
  columns: 2;
}

.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 1vh;
}

.recomendaciones {
  background-color: rgb(56, 59, 88, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alojamiento {
    margin-bottom: 2.5vh;
}

@media (max-width: 1000px) {
  .alojamientos {
    columns: 1;
  }
}

@media (max-width: 480px) {
  .facet_sidebar {
    display: none;
  }
}
