.btnPleno {
  background-color: var(--color-principal);
  border: none;
  color: var(--color-5);
  cursor: pointer;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12));
  font-size: 1rem;
  font-weight: 700;
  padding: 1.4vh 5vw;
  transition: background-color ease-in-out 250ms;
}
.btnPleno:hover {
  background-color: #1fa39a;
}

.btnEnLinea {
  background-color: var(--color-5);
  border: solid 1px var(--color-principal);
  color: var(--color-principal);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.4vh 5vw;
  transition: color ease-in-out 250ms,
              border-color ease-in-out 250ms;
}
.btnEnLinea:hover {
  border-color: #1fa39a;
  color: #1fa39a;
}
