.alojamientos {
  margin-top: 1rem;
  columns: 2;
}

.alojamientosUnaColumna {
  margin-top: 1rem;
  columns: 1;
  width: 50%;
}

.recomendaciones {
  background-color: var(--color-background-gris);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
}

.alojamiento {
  margin-bottom: 2.5vh;
}

.sinResultados {
  text-align: center;
  padding: 12vh 0;
  width: 100%;
  color: var(--color-3);
}

@media (max-width: 1300px) {
  .alojamientosUnaColumna {
    width: 100%;
  }
}

@media (max-width: 1120px) {
  .alojamientos {
    columns: 1;
  }
}

@media (max-width: 480px) {
  .facet_sidebar {
    display: none;
  }
}
