.alojamientos {
  margin-top: 1rem;
  columns: 2;
}

.recomendaciones {
  background-color: var(--color-background-gris);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
}

.alojamiento {
    margin-bottom: 2.5vh;
}

@media (max-width: 1120px) {
  .alojamientos {
    columns: 1;
  }
}

@media (max-width: 480px) {
  .facet_sidebar {
    display: none;
  }
}
