.cityContainer {
  position: relative;
}

.input {
  width: 100%;
  padding: 0.5rem 2.4rem;
  padding-left: 2rem;
}

.gps,
.gpsEmpty {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 1.6rem;
  color: var(--color-2);
  z-index: 1;
}

.gpsEmpty {
  color: var(--color-2-opaco);
}

@media (max-width: 768px) {
  .cityContainer {
    min-width: 18.301610541727673vw;
  }

  .input {
    padding-left: 2.4rem;
  }
}

@media (max-width: 480px) {
  .input {
    position: relative;
    width: 100%;
  }

  .applyContainer {
    margin: 10px;
  }

  .MuiSvgIcon-root {
    visibility: hidden;
  }
}
