.cityContainer {
  position: relative;
}

.input {
  min-width: 30.89311859443631vw;
  max-height: 6.4vh;
  padding: 1rem 2.4rem;
  padding-left: 2rem;
}

.gps,
.gpsEmpty {
  position: absolute;
  left: 0.563rem;
  top: .9vh;
  font-size: 1.6rem;
  color: var(--color-2);
  z-index: 1;
}

.gpsEmpty {
  color: var(--color-2--opaco);
}

@media (max-width: 768px) {
  .cityContainer {
    min-width: 18.301610541727673vw;
  }

  .gps,
  .gpsEmpty {
    bottom: 8px;
  }

  .input {
    width: 18.301610541727673vw;
    height: 47px;
    padding-left: 2.4rem;
  }
}

@media (max-width: 480px) {
  .gps,
  .gpsEmpty {
    bottom: 5px;
  }

  .input {
    position: relative;
    width: 100%;
  }

  .applyContainer {
    margin: 10px;
  }

  .MuiSvgIcon-root {
    visibility: hidden;
  }
}
