.sectionImagenes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 58px;
}

@media screen and (max-width: 768px) {
  .sectionImagenes {
    padding: 0;
    padding: 15px 0;
  }
}

@media screen and (max-width: 480px) {
  .sectionImagenes {
    padding: 0;
  }
}
