/* Los selectores que son precedidos por: "div.react-datepicker-popper" afectan únicamente al calendar dentro de Searcher y los que son precedidos por: ".calendarContainer" afectan sólo al calendar de fechas disponibles dentro de la pag de detalle de producto  */
div.react-datepicker-popper div.react-datepicker__month-container {
  padding: 2vh 0;
}

.react-datepicker__navigation-icon {
  border-color: var(--color-5);
}

div.react-datepicker__header {
  background-color: var(--color-5);
  border-bottom: none;
  padding: 1vh 0;
}

div.react-datepicker {
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

div.react-datepicker__input-container input {
  padding: 0.5rem 2.4rem;
  min-width: 30.89311859443631vw;
}

div.react-datepicker-wrapper {
  min-width: 30.89311859443631vw;
  max-height: 6.4vh;
}

div.react-datepicker__current-month,
div.react-datepicker__day-name {
  text-transform: capitalize;
  font-weight: 600;
}

div.react-datepicker__current-month {
  margin-bottom: 1vh;
}

div.react-datepicker__month {
  margin: 0;
  padding: 0.5vh 0.75vw;
}

div.react-datepicker__day {
  border-radius: 50%;
}

div.react-datepicker__day:hover {
  background-color: rgb(121, 121, 121);
  color: var(--color-5);
  border-radius: 50%;
}

div.react-datepicker__day--keyboard-selected {
  background-color: var(--color-principal);
  border-radius: 50%;
}

div.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
div.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
div.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
div.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  background-color: var(--color-principal-opaco);
}

div.react-datepicker__day--selected,
div.react-datepicker__day--in-selecting-range,
div.react-datepicker__day--in-range,
div.react-datepicker__month-text--selected,
div.react-datepicker__month-text--in-selecting-range,
div.react-datepicker__month-text--in-range,
div.react-datepicker__quarter-text--selected,
div.react-datepicker__quarter-text--in-selecting-range,
div.react-datepicker__quarter-text--in-range,
div.react-datepicker__year-text--selected,
div.react-datepicker__year-text--in-selecting-range,
div.react-datepicker__year-text--in-range {
  background-color: var(--color-principal);
}

.react-datepicker__day--disabled.react-datepicker__day--selected,
.react-datepicker__day--disabled.react-datepicker__day--in-selecting-range,
.react-datepicker__day--disabled.react-datepicker__day--in-range,
.react-datepicker__day--disabled.react-datepicker__month-text--selected,
.react-datepicker__day--disabled.react-datepicker__month-text--in-selecting-range,
.react-datepicker__day--disabled.react-datepicker__month-text--in-range,
.react-datepicker__day--disabled.react-datepicker__quarter-text--selected,
.react-datepicker__day--disabled.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__day--disabled.react-datepicker__quarter-text--in-range,
.react-datepicker__day--disabled.react-datepicker__year-text--selected,
.react-datepicker__day--disabled.react-datepicker__year-text--in-selecting-range,
.react-datepicker__day--disabled.react-datepicker__year-text--in-range {
  background-color: transparent;
}

.react-datepicker__day--disabled {
  text-decoration: line-through;
}

.react-datepicker__day--range-end {
  color: #fff;
  background-color: #1d5d90;
}

div.react-datepicker__day-name,
div.react-datepicker__day,
div.react-datepicker__time-name {
  margin: 0.65vh 0.5vw;
  font-size: 0.9rem;
}

div.react-datepicker__year-read-view--down-arrow,
div.react-datepicker__month-read-view--down-arrow,
div.react-datepicker__month-year-read-view--down-arrow,
div.react-datepicker__navigation-icon,
div.react-datepicker__navigation-icon::before {
  border-color: black;
}

button.react-datepicker__navigation {
  top: 2vh;
  color: #666666;
}

div.react-datepicker div:nth-of-type(2) .react-datepicker__header,
div.react-datepicker div:nth-of-type(2) .react-datepicker__month {
  border-right: rgb(161, 161, 161) 1px solid;
}

div.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: var(--color-2);
}

@media (max-width: 768px) {
  div.react-datepicker__input-container input {
    width: 18.301610541727673vw;
  }
  
  div.react-datepicker__day-name,
  div.react-datepicker__day,
  div.react-datepicker__time-name {
    margin: 0.6vh 0.8vw;
    font-size: 0.9rem;
  }
}

div.react-datepicker__input-container {
  width: 18.301610541727673vw;
}

div.react-datepicker-wrapper {
  width: 18.301610541727673vw;
  height: 47px;
}

@media (max-width: 480px) {
  div.react-datepicker-wrapper,
  div.react-datepicker__input-container,
  div.react-datepicker__input-container input {
    position: relative;
    width: 100%;
  }
  
  div.react-datepicker__input-container input {
    padding: 0.5rem 2.4rem;
  }
  
  div.react-datepicker__day-name,
  div.react-datepicker__day,
  div.react-datepicker__time-name {
    margin: 0.5vh 2.25vw;
    font-size: 0.9rem;
  }
  
  div.react-datepicker div:nth-of-type(2) .react-datepicker__header,
  div.react-datepicker div:nth-of-type(2) .react-datepicker__month {
    border-right: none;
  }
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}



/* Calendario de fechas disponibles */
.calendarContainer {
  background-color: var(--color-5);
  min-width: fit-content;
  width: 66vw;
  height: 340px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
.calendarContainer div.react-datepicker__month-container {
  padding: 0 4vw;
  margin: 2vh 0;
  background-color: var(--color-5);
}
.calendarContainer div.react-datepicker__month-container:first-of-type {
  border-right: 1.8px solid grey;
}
.calendarContainer .react-datepicker__navigation {
  position: absolute;
  top: 43%;
  margin: 0 20px;
  background-color: var(--color-principal);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%);
  transition: all ease-in-out 50ms;
}
.calendarContainer .react-datepicker__navigation:hover {
  background-color: var(--color-principal-opaco);
}
.calendarContainer .react-datepicker__navigation:active {
  background-color: var(--color-2);
}
.calendarContainer .react-datepicker__year-read-view--down-arrow,
.calendarContainer .react-datepicker__month-read-view--down-arrow,
.calendarContainer .react-datepicker__month-year-read-view--down-arrow,
.calendarContainer .react-datepicker__navigation-icon::before {
  border-color: white;
}
.calendarContainer .react-datepicker__day-name {
  color: var(--color-2);
}

@media (min-width: 1400px) {
  .calendarContainer .react-datepicker__navigation {
    margin: 0 60px;
  }
}
@media (min-width: 1600px) {
  .calendarContainer .react-datepicker__navigation {
    margin: 0 80px;
  }
}
@media (max-width: 1200px) {
  .calendarContainer {
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .calendarContainer .react-datepicker__navigation {
    position: absolute;
    top: 20px;
    margin: 0 35px;
    background-color: transparent;
    padding: 0;
    border-radius: 50px;
    box-shadow: none;
    transition: all ease-in-out 50ms;
  }
  .calendarContainer .react-datepicker__year-read-view--down-arrow,
  .calendarContainer .react-datepicker__month-read-view--down-arrow,
  .calendarContainer .react-datepicker__month-year-read-view--down-arrow,
  .calendarContainer .react-datepicker__navigation-icon::before {
    border-color: darkgrey;
  }
  .calendarContainer .react-datepicker__year-read-view--down-arrow:hover,
  .calendarContainer .react-datepicker__month-read-view--down-arrow:hover,
  .calendarContainer .react-datepicker__month-year-read-view--down-arrow:hover,
  .calendarContainer .react-datepicker__navigation-icon:hover::before {
    border-color: var(--color-2);
  }
  .calendarContainer .react-datepicker__navigation:hover {
    background-color: transparent;
  }
}
@media (max-width: 740px) {
  .calendarContainer {
    height: 310px;
  }
  .calendarContainer div.react-datepicker__month-container:first-of-type {
    border-right: none;
  }
}
