.boxing {
  background-color: var(--color-3);
  padding: 25px;
  width: 100vw;
  position: fixed;
  top: 92px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.letter {
  color: var(--color-5);
  text-align: center;
  font-size: 2.25rem;
}

.dateContainer {
  position: relative;
  width: 0px;
  height: 0px;
}

.dateContainer div div input {
  position: relative;
}

.input {
  display: flex;
}

.dateIcon,
.dateIconEmpty {
  position: absolute;
  left: 18px;
  top: 4px;
  font-size: 1.6rem;
  color: var(--color-2--opaco);
  z-index: 1;
}

.dateIconEmpty {
  color: var(--color-2);
}

.inputs {
  display: flex;
  gap: 8px;
  justify-content: center;
  height: 38px;
}

.inputs input:nth-child(4) {
  margin-left: 8px;
  padding: 0 5vw;
}

.applyContainer {
  display: block;
  text-align: end;
  margin: 20px;
}

@media (max-width: 860px) {
  .letter {
    font-size: 1.874rem;
  }

  .boxing {
    padding: 30px 10px;
    top: 112px;
  }

  .inputs {
    gap: 0.5rem;
    padding: 0 5vw;
  }

  .input {
    width: 18.301610541727673vw;
    height: 47px;
    padding-left: 2rem;
  }
}

@media (max-width: 480px) {
  .dateIcon,
  .dateIconEmpty {
    position: absolute;
    left: 12px;
    top: 6px;
  }
  .letter {
    font-size: 1.6rem;
  }

  .boxing {
    top: 82px;
  }

  .dateContainer {
    margin: -4px;
  }

  .inputs {
    flex-direction: column;
    margin: 40px 0;
  }

  .inputs input:nth-child(4) {
    margin-left: 0px;
  }
}
