.boxing {
  background-color: var(--color-2);
  padding: 6vh 14vw;
  width: 100vw;
  min-height: 150px;
  max-height: 225px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 92px;
  z-index: 1;
}

.letter {
  color: var(--color-5);
  text-align: center;
  font-size: 2.25rem;
  padding-bottom: 3.3vh;
}

.dateContainer {
  position: relative;
  width: 0px;
  height: 0px;
}

.dateContainer div div input {
  position: relative;
}

.input {
  min-width: 30.89311859443631vw;
  max-height: 6.4vh;
  padding: 1rem 2.4rem;
  padding-left: 2rem;
}

.dateIcon,
.dateIconEmpty {
  position: absolute;
  left: 0.863rem;
  top: .9vh;
  font-size: 1.6rem;
  color: var(--color-2--opaco);
  z-index: 1;
}

.dateIconEmpty {
  color: var(--color-2);
}

.inputs {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.inputs input:nth-child(4) {
  margin-left: 8px;
}

.applyContainer {
  display: block;
  text-align: end;
  margin: 20px;
}

@media (max-width: 1024px) {
  .letter {
    font-size: 1.874rem;
  }
}

@media (max-width: 860px) {
  .letter {
    font-size: 1.874rem;
  }

  .dateIconEmpty,
  .dateIcon {
    left: 16px;
  }

  .boxing {
    padding: 30px 10px;
  }

  .inputs {
    gap: 0.5rem;
    padding: 0 5vw;
  }

  .gps,
  .gpsEmpty {
    bottom: 8px;
  }

  .input {
    width: 18.301610541727673vw;
    height: 47px;
    padding-left: 2rem;
  }
}

@media (max-width: 633px) {
  .letter {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .globalContainer {
    top: 102px;
    position: absolute;
  }

  .gps,
  .gpsEmpty {
    bottom: 5px;
  }

  .dateContainer {
    margin: -4px;
  }

  .boxing {
    padding: 20px 0px;
  }

  .inputs {
    flex-direction: column;
    gap: 0.6rem;
    padding: 10px;
  }

  .input {
    width: 95vw;
  }

  .letter {
    font-size: 1.574rem;
  }

  .inputs input:nth-child(4) {
    margin-left: 0px;
  }

  .dateIcon,
  .dateIconEmpty {
    left: 10px;
  }

  .dateIcon {
    top: 12px;
  }

  .dateIconEmpty {
    top: 7px;
  }

  .applyContainer {
    margin: 10px;
  }
}
