.sectionImagenes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 58px;
}

.imagenesDesktop {
  position: relative;
  display: flex;
  gap: 12px;
  height: 50vh;
}

.imagenesDesktop img {
  border-radius: 8px;
}

.iconos {
  display: flex;
  gap: 1rem;
}

.iconos i {
  color: var(--color-3);
  font-size: 1.5rem;
  transition: color ease-in-out 250ms;
}

.iconos i:hover {
  color: var(--color-principal);
}

.imagenPrincipal,
.imagenSecundaria {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.imagenesSecundarias {
  width: 50%;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.imagenesSecundarias .imagenSecundaria {
  width: calc(50% - 6px);
  height: calc(50% - 6px);
}

.verMas {
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;
  bottom: 2.75%;
  right: 0.75%;
  width: 70px;
  padding: 4px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.contenedorTabletMobile {
  display: none;
  position: relative;
}
.contenedorTabletMobile .iconos {
  display: none;
}

@media screen and (max-width: 768px) {
  .contenedorTabletMobile {
    display: block;
  }
  .imagenesDesktop {
    display: none;
  }
  .sectionImagenes {
    padding: 0;
    padding: 15px 0;
  }
  .iconos {
    margin-left: 1rem;
  }
}

@media screen and (max-height: 615px) {
  .imagenes {
    height: 50vh;
  }
}

@media screen and (max-width: 480px) {
  .sectionImagenes {
    padding: 0;
  }
  .sectionImagenes .iconos {
    display: none;
  }

  .contenedorTabletMobile {
    position: relative;
  }
  .contenedorTabletMobile .iconos {
    display: block;
    position: absolute;
    top: 0.75rem;
    left: 0;
    z-index: 2;
  }
  .contenedorTabletMobile .iconos i {
    color: white;
    padding: 4px;
  }
}

.previousArrow,
.nextArrow {
  position: absolute;
  top: 50%;
  padding: 0.5rem 0.75rem;
  z-index: 2;
  background-color: var(--color-principal);
  color: var(--color-5);
  outline: none;
  border: none;
  border-radius: 50%;
  transition: background-color ease-in-out 50ms;
}

.previousArrow:hover,
.nextArrow:hover {
  background-color: var(--color-principal-opaco);
  cursor: pointer;
}

.previousArrow {
  left: 1rem;
}

.nextArrow {
  right: 1rem;
}
