@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.contenedorHeader {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-3);
    margin-top: 92px;
    padding: 10px 50px;
    width: 100%;
}

.headerIzquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.headerIzquierda p:nth-of-type(1){
    color: var(--color-4);
    font-family: Quicksand;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.headerIzquierda p:nth-of-type(2){
    color: var(--color-5);
    font-size: 1.5rem;
}

.headerDerecha a {
    color: var(--color-5);
    transition: all ease-in-out 250ms;
}

.headerDerecha a:hover {
    color: var(--color-principal);
}

.headerDerecha span i{
    font-size: 2.5rem;
}

/*Volver al home*/

.headerDerecha{
    display: flex;
    justify-content: center;
}
.headerDerecha a span:first-child {
    display: inline-block;
    padding: 5px 0 5px 15px;
}

.headerDerecha a{
    display: block;
    position: relative;
    overflow: hidden;
}

.headerDerecha a span:last-child {
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.headerDerecha a span {
    transition: transform 0.2s ease-out;
}
   
.headerDerecha a:hover span:first-child {
    transform: translateY(100%);
}
   
.headerDerecha a:hover span:last-child {
    transform: none;
}

@media screen and (max-width:860px) {

    .contenedorHeader {
        padding: 10px 30px;
        margin-top: 112px;
    }

    .headerDerecha span i{
        font-size: 2.25rem;
    }

}

@media screen and (max-width:480px) {

    .contenedorHeader{
        align-items: center;
        margin-top: 82px;
        padding: 10px 30px;
        box-shadow: 2px 2px 6px var(--color-3);
    }

    .headerDerecha span i{
        font-size: 2rem;
    }

}