.searchWords {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  align-items: flex-start;
  gap:0;
}

.rooms {
  z-index: 10;
  position: absolute;
  top: 40px;
  width: 30.89311859443631vw;
  background-color: var(--color-5);
  max-height: 40.64vh;
  overflow: auto;
}

.rooms li {
  display: flex;
  z-index: 100;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--color-principal);
  padding: 16px;
  transition: background-color 250ms ease-in ;
}

.rooms li:hover {
  cursor: pointer;
  background-color: var(--color-principal);
}

.rooms li i {
  position: relative;
  left: 0;
  top: 6px;
  font-size: 1.438rem;
  color: var(--color-3);
}

.room {
  font-size: 1rem;
  font-weight: bold;
}


@media (max-width: 768px) {
  .rooms {
    top: 6.4vh;
  }
}

@media (max-width: 480px) {
  .rooms {
    width: 95vw;
  }
}