.container{
    width:  29.94143484626647vw;
    border: 1.6vh  0.7320644216691069vw;
    box-shadow: 1px 4px 4px rgb(0 0 0 / 25%);

}

.img{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48vh;

}
h2{
    font-size: 
    1.5rem;
    padding-left: 1.313rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: var(--color-2);
    font-weight: bold;

}


.letterContainer{
    padding:  3.36vh  1.5373352855051245vw;
    margin-top: 3.52vh;
}
.categoria{
    font-size:  0.875rem;
    color: var(--color-2);
    opacity: .5;
}
.titulo{
    font-size:  1.5rem;
        color: var(--color-2);
    font-weight: bold;
    padding:  4px 0;
}
.direccion{
    display: flex;
    padding-top: 3.2vh;
    
    padding-bottom: 4.5vh;
}
.direccion i{
    color: var(--color-2);
}
.direccion p{
    color: var(--color-2);
    padding-left: 0.7320644216691069vw;
    font-weight: 500;
}
.fecha{
    display: flex;
    justify-content: space-between;
    margin: 4vh 0 ;
    color: #4F4F50;
}
.letterContainer hr {
    border-bottom: 0px solid;
    opacity: .7;

}
.buttonContainer{
    max-width: 100%;
    text-align: center;
}
.buttonContainer input{
width: 100%;
text-align: center;
padding:1.92vh 0;
margin-top: 5.6vh;
}

@media (max-width: 768px) {
    .infContainer{
        display: flex;
        gap: 20px;
    }
    .direccion{
        padding: 15px 0;
    }
    .img{
        Width :19.875rem;
        Height :19.5rem
    }
    .container{
        padding: 30px;
        width:  90vw;
        height:  100%;
        
    
    }
    .letterContainer{
        margin-top: 0px;
        padding: 0;
    }
    .fecha{
        margin:15px 0 ;
    }
    .buttonContainer input{
        width: 100%;
        text-align: center;
        padding: 8px;
        margin-top:15px
        }
        h2{
            padding-top: 0;
            padding-left: 0;
        }
  }
  @media (max-width: 480px) {
    .infContainer{
        flex-direction: column;
    }
    .container{
        padding: 0;    
    }
    .img{
        width: 100%;
    }
    h2{

        padding-left: 1.313rem;
        padding-top: 1.5rem;  
    }
    .letterContainer{
        margin-top: 0px;
        padding:  3.36vh  2.5373352855051245vw
    }
  }