@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --fuente: "Roboto", sans-serif;
  --color-principal: #1dbeb4;
  --color-2: #383b58;
  --color-3: #545776;
  --color-4: #f3f1ed;
  --color-5: #ffffff;
}

* {
  font-family: var(--fuente);
  box-sizing: border-box;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border-radius: 5px;
  border: none;
  outline: none;
}

section {
  padding: 15px 50px;
}


::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--color-5);
}

::-webkit-scrollbar-thumb {
  background: var(--color-principal);
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px #00000069;
}

::-webkit-scrollbar-thumb:hover {
  background: #1fa39a;
}