@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("./components/Searcher/DatePickerStyles.css");

:root {
  --fuente: "Roboto", sans-serif;
  --color-principal: #1dbeb4;
  --color-principal-opaco: #1e978f;
  --color-2: #383b58;
  --color-2--opaco:#383b585b;
  --color-3: #545776;
  --color-4: #f3f1ed;
  --color-5: #ffffff;
}

* {
  font-family: var(--fuente);
  box-sizing: border-box;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border-radius: 5px;
  border: 3px solid white;
  outline: none;
}

input:focus {
  border: solid 3px var(--color-principal);
}

/* Permite modificar el background de un input cuando se usa el autocompletado sugreido por el navegador*/
input:-webkit-autofill {
  box-shadow:0 0 0 50px white inset; 
  -webkit-box-shadow:0 0 0 50px white inset; 
}

section {
  padding: 15px 50px;
}

@media screen and (max-width:768px) {
  section {
    padding: 20px 30px;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--color-5);
  box-shadow: inset 2px 2px 4px 2px #00000036;
}

::-webkit-scrollbar-thumb {
  background: var(--color-3);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #00000069;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-2);
}