.containerPrincipal{
    background-color: var(--color-inputs-form-datos);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.containerSecundario{
    width: 65%;
    min-height: 100%;
}

.containerTercero{
    width: 32%;
    height: 100%;
}

@media (max-width: 1010px) {
    .containerPrincipal{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .containerSecundario{
        width: 100%;
    }
    
    .containerTercero{
        width: 100%;
    }
}