.tarjetaAlojamiento {
  background-color: var(--color-5);
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #dfe4ea;
  color: var(--color-2);
  transition: all ease-in-out 300ms;
}

.tarjetaAlojamiento p {
  font-size: 0.9rem;
  font-weight: 500;
}

.imagenAlojamiento {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  min-height: 300px;
  border-radius: 10px;
}

.corazon {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 1.5rem;
  transition: all ease 350ms;
  padding: 10px;
  background-color: var(--color-2);
  border-radius: 65px 30px 41px 90px / 0px 30px 0px 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.corazon:hover {
  cursor: pointer;
  /* transform: scale(1.2);  */
  color: var(--color-principal);
}

.corazon:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: .3em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 30px white;
}

.corazon:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 14em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.descripcionAlojamiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 2.5%;
  height: 100%;
}

.informacionPrincipal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.tipoYCalificacion {
  display: flex;
  align-items: center;
}

.tipoYCalificacion h4 {
  text-transform: uppercase;
  opacity: 50%;
  margin-right: 8px;
  font-size: 14px;
}

.puntajeAlojamiento {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.puntajeNumerico {
  background-color: var(--color-2);
  border-radius: 10px;
  color: var(--color-5);
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  padding: 4%;
  width: 32px;
}

.detalle {
  font-size: 16px;
}

.informacionDetalle a {
  color: var(--color-principal);
  text-transform: uppercase;
}

.informacionDetalle {
  display: flex;
  flex-direction: column;
}

.servicios {
  margin-bottom: 0.75rem;
}

.servicios i {
  font-size: 1.25rem;
  margin-left: 12px;
}

.servicios i:first-child {
  margin-left: 0;
}

.ubicacion {
  display: flex;
  margin: 0.5rem 0;
}

.ubicacion i {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.ubicacion a {
  margin-left: 0.25rem;
  transition: color ease-in-out 50ms;
}

.ubicacion a:hover {
  color: var(--color-principal-opaco);
}

.verMas {
  color: var(--color-principal);
  transition: color ease-in-out 250ms;
}

.verMas:hover {
  color: var(--color-principal-opaco);
  cursor: pointer;
}

.btnVerMas {
  width: 100%;
  margin-top: 1.5rem;
  padding: 10px 0;
}

/*_________Skeleton_______________*/

@keyframes loadingAnimation {
  0% {
    background-color: var(--color-4);
  }
  50% {
    background-color: rgb(182, 177, 177);
  }
  100% {
    background-color: var(--color-4);
  }
}

.skeleton {
  width: 100%;
  animation: loadingAnimation 5s infinite;
}

.disabled{
  pointer-events:none;
}

.infoLoader{
  width: 50px;
  height: 1rem;
  margin-top: 0.3rem;
  border-radius: 8px;
}

.textLoader {
  min-width: 100%;
  height: 1.2rem;
  margin-top: 0.5rem;
  border-radius: 8px;
}

.inputLoader {
  border: 1.5px solid var(--color-4);
  border-radius: 7px;
  width: 100%;
  padding: 15px 5vw;
  margin: 1.5rem 0; 
}

@media screen and (max-width: 1280px) {
  .informacionPrincipal {
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .tipoYCalificacion {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
  }
}

@media (max-width: 480px) {
  .tarjetaAlojamiento {
    flex-direction: column;
    height: auto;
  }

  .imagenAlojamiento {
    height: 240px;
    width: 100%;
  }

  .descripcionAlojamiento {
    width: 100%;
    padding: 4%;
  }
  .tipoYCalificacion {
    flex-direction: row;
  }
}
