/*****************Tarjetas categoria*****************/
/*______Tarjeta entera______*/
.tarjeta,
.tarjetaSeleccionada {
  background-color: var(--color-5);
  background-position: top;
  border: 1px solid var(--color-4);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  height: 15.4rem;
  position: relative;
  transition: transform 0.5s;
  width: 20vw;
  min-width: 14rem;
  transition: all ease-in-out 300ms;
}
/*______Efecto tarjeta______*/
.tarjeta:hover,
.tarjetaSeleccionada {
  box-shadow: 4px 8px 12px rgb(0 0 0 / 25%);
  transform: scale(1.01);
  cursor: pointer;
}

.tarjetaSeleccionada {
  border: 2px solid var(--color-principal);
}

/*______Fondo tarjeta (portada)______*/
.fotoPortada {
  border-radius: 8px 8px 0 0;
  height: 75%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*______Contenedor/escrito______*/
.contenidoTarjeta {
  color: var(--color-2);
  position: relative;
  top: 79%;
}
/*______Nombre categoria______*/
.contenidoTarjeta h2 {
  /*.Hotel, .Hostel, .Departamento, .BedAndBreakfast */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.438rem;
  margin-left: 3.87%;
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}
/*______Descripcion categoria______*/
.contenidoTarjeta p {
  /*.descripcion*/
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  margin-left: 3.87%;
  opacity: 0.6;
}

/*****************Responsive*****************/
/*______Tablet______*/
@media screen and (max-width: 1045px) {
  .tarjeta,
  .tarjetaSeleccionada {
    width: 43vw;
    min-width: 12rem;
  }
}

@media screen and (max-width: 828px) {
  .tarjeta,
  .tarjetaSeleccionada {
    width: 42vw;
  }
}

/*______Mobile______*/
@media screen and (max-width: 480px) {
  .fotoPortada {
    height: 30vh;
  }
  .tarjeta,
  .tarjetaSeleccionada {
    height: 38vh;
    width: 90vw;
  }
  .contenidoTarjeta {
    top: 81%;
  }
}
